@model ProvaTecnica.Web.Models.Aluno

@{
    ViewData["Title"] = "Delete";
}

<h1>Excluir</h1>

<h3>Deseja excluir o aluno?</h3>
<div>
    <h4>Aluno</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAluno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAluno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeAluno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeAluno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotaAluno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotaAluno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTurma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Turma.NomeTurma)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index">Retornar</a>
    </form>
</div>
